<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>82843967512-66jme1sio76dasvtfrvbanhtfk1uetf9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.82843967512-66jme1sio76dasvtfrvbanhtfk1uetf9</string>
	<key>API_KEY</key>
	<string>AIzaSyD_R80BS3rr7T4c2c8eRwPSS95S7AAZnBk</string>
	<key>GCM_SENDER_ID</key>
	<string>82843967512</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>comMuhammed.TinderCloneUIKit</string>
	<key>PROJECT_ID</key>
	<string>instagramcloneuikit-850a5</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramcloneuikit-850a5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:82843967512:ios:eed8075e21bd5dd719e36d</string>
</dict>
</plist>